#header {
    text-align: center;
}

#player {
    align-content: center;
    width: 750px;
    height: 30px;
    background-color: blue;
}

.hr {
    width: 750px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search_bar {
    width: 750px;
    height: 75px;
    background-color: aquamarine;
}

#input {}

#search_button {}

h3 {
    color: aqua;
}

#results {
    width: 750px;
    height: 1000px;
    background-color: red;
    flex: auto;
}

.result {
    width: 150px;
    height: 225px;
    justify-items: center;
}

.album_artwork {
    width: 150px;
}

.song_title {}