#header {
    text-align: center;
}

#player {
    align-content: center;
    width: 850px;
    height: 75px;
    background-color: blue;
}

.hr {
    width: 850px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search {
    width: 850px;
    height: 75px;
    background-color: aquamarine;
}

#search_bar {}

#input {}

#search_button {}

h3 {
    color: aqua;
}

#results_element {
    width: 850px;
    height: 1000px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.result_box {
    width: 150px;
    height: 225px;
    margin: 10px;
    justify-items: center;
}

.album_artwork {
    width: 150px;
}

.track_name {
    width: 150px;
}

.audio_source {
    display: none;
}