#entire_player {
    font-family: 'Joan', serif;
}

#header {
    font-size: 60px;
    width: 850px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#player {
    align-content: center;
    width: 850px;
    height: 75px;
    margin: 0 auto;
    padding-bottom: 25px;
}

#audio_element {
    margin: 0 auto;
    width: 850px;
}

#now_playing {
    margin: 0 auto;
    text-align: center;
}

#search {
    margin: 0 auto;
    width: 850px;
    height: 90px;
    display: flex;
    justify-content: center;
}

#search_bar {
    margin: 0 auto;
}

#input_search_bar {
    font-family: 'Joan', serif;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    margin-left: 135px;
    font-size: 24px;
}

#search_button {
    margin: 0 auto;
    margin-right: 175px;
    margin-left: 10px;
    height: 56px;
    width: 120px;
    font-size: 20px;
}

#showing_results_text {
    margin: 0 auto;
    width: 850px;
    height: 35px;
}

#results_display {
    margin: 0 auto;
    width: 880px;
    padding-left: 14px;
    display: flex;
    flex-wrap: wrap;
}

.result_box {
    width: 200px;
    height: 300px;
    margin: 8px;
    justify-items: center;
}

.album_artwork {
    width: 200px;
}

.track_name {
    width: 200px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding-bottom: 7px;
}

.artist_name {
    width: 200px;
    font-size: 13px;
    text-align: center;
}

.audio_url {
    display: none;
}